{{!< layout}}
<script src="/js/admin-form.js"></script>
<h1>{{title}}</h1>
<div class="field-group">
  <p style="margin-top: 10px;">Your license status is <b>not</b> active.</p>
  <p>Licences are available on the
    <span class="license-a-market-cfj">Atlassian Marketplace</span>
    and are managed through the
    <span class="license-a-upm-cfj">Universal Plugin Manager</span>
    (UPM).</p>
</div>